In [1]:
import sys

sys.path.insert(0, "src")
import tabsus

# Carrega arquivos de tabulação para base de dados
sih = tabsus.DATABASES['SIH'].tabsus

# Definições disponíveis
sih.definitions

['Motivo de Erro.DEF', 'RD2008.DEF', 'RJ2008.DEF', 'SP2008.DEF']

In [2]:
# Nome e descrição
rd2008 = sih['RD2008']
print(rd2008.name)
print(rd2008.description)

RD2008.DEF
Movimento de AIH - Arquivos Reduzidos

In [3]:
# Colunas, linhas, seleções e incrementos
display(rd2008.columns)
display(rd2008.rows)
display(rd2008.selections)
display(rd2008.increments)

[Região internação, UF internação, Município internação, Capital internação, Região metrop. internação, CIR internação, Aglomerado urbano internação, Mesorregião internação, Microrregião internação, Macrorregião saúde internação, Microrregião saúde internação, Região adm DF internação, Natureza, Regime, Natureza Jurídica, Esfera Jurídica, Gestão, Ano processamento, Ano/Mês processamento, Sexo, Faixa etária (5), Faixa etária (9), Faixa etária (18), Idade detalhada, Cor/raça, Etnia, Região de Residência, Unid da Federação de Resid., Capital de Residência, Nacionalidade, Grupo ativ.econômica, Vínculo previdenciário, Leito\Especialidade, Identificação, Tipo de AIH, Seqüencial, Caráter atendimento, Teve diárias UTI, Tipo de UTI, Tipo de UCI, Ano de internação, Ano/Mês internação, Ano de saída, Mês de saída, Ano/Mês de saída, Dias permanência, Motivo Saída/Permanência, Óbitos, Grupo de Procedimentos, SubGrupo de Procedimentos, Forma de Organização, Financiamento, SubTp FAEC, Regra Contratual, Complexidade do Procedimento, Procedimentos obstétricos, Cirurgia CardioVasculares, Cirurgia Vascular, Cardio Intervenção, Cirurgia EndoVascular, Estudo Eletrofisiológico, Fez VDRL, Infecção Hospitalar, Diagnóstico CID10 (capítulo), Diagnóstico CID10 (grupo), Agravo Notificação Compulsória, Sensíveis Atenção Básica 3, Agravo Notificação Bloq, Diagnóstico CID10 PactoAB, Classificação.CID Sec 1, Classificação.CID Sec 2, Classificação.CID Sec 3, Classificação.CID Sec 4, Classificação.CID Sec 5, Classificação.CID Sec 6, Classificação.CID Sec 7, Classificação.CID Sec 8, Classificação.CID Sec 9, Diagnóstico Sec. CID10 (capit), Diagnóstico Sec. CID10 (grupo), Causa Associada(capit), Causa Associada(grupo), Causa Óbito(capit), Causa Óbito(grupo), Número de filhos, Grau de instrução, Contraceptivo 1, Contraceptivo 2, Gestante de risco, Inscrição pré-natal, Autorização gestor]

[Região e UF internação, UF internação, Região internação, Município internação, Capital internação, Região metrop. internação, CIR internação, Aglomerado urbano internação, Mesorregião internação, Microrregião internação, Macrorregião saúde internação, Microrregião saúde internação, Região adm DF internação, HU's MEC EBSERH (CNES), HU's Filiados EBSERH (CNES), Hospitais Federais RJ, Hospital BR (CNES), Hospital AC (CNES), Hospital AL (CNES), Hospital AM (CNES), Hospital AP (CNES), Hospital BA (CNES), Hospital CE (CNES), Hospital DF (CNES), Hospital ES (CNES), Hospital GO (CNES), Hospital MA (CNES), Hospital MG (CNES), Hospital MS (CNES), Hospital MT (CNES), Hospital PA (CNES), Hospital PB (CNES), Hospital PE (CNES), Hospital PI (CNES), Hospital PR (CNES), Hospital RJ (CNES), Hospital RN (CNES), Hospital RO (CNES), Hospital RR (CNES), Hospital RS (CNES), Hospital SC (CNES), Hospital SE (CNES), Hospital SP (CNES), Hospital TO (CNES), Hospital BR (CNPJ), Hospital AC (CNPJ), Hospital AL (CNPJ), Hospital AM (CNPJ), Hospital AP (CNPJ), Hospital BA (CNPJ), Hospital CE (CNPJ), Hospital DF (CNPJ), Hospital ES (CNPJ), Hospital GO (CNPJ), Hospital MA (CNPJ), Hospital MG (CNPJ), Hospital MS (CNPJ), Hospital MT (CNPJ), Hospital PA (CNPJ), Hospital PB (CNPJ), Hospital PE (CNPJ), Hospital PI (CNPJ), Hospital PR (CNPJ), Hospital RJ (CNPJ), Hospital RN (CNPJ), Hospital RO (CNPJ), Hospital RR (CNPJ), Hospital RS (CNPJ), Hospital SC (CNPJ), Hospital SE (CNPJ), Hospital SP (CNPJ), Hospital TO (CNPJ), Mantenedora, Natureza, Regime, Natureza Jurídica, Esfera Jurídica, Gestão, Município gestor, Ano processamento, Ano/Mês processamento, Sexo, Faixa etária (5), Faixa etária (9), Faixa etária (18), Idade detalhada, Cor/raça, Etnia, Região de Residência, Região/UF de Residência, Unid da Federação de Resid., Município de Residência, Capital de Residência, Região de Saúde (CIR) de Resid., Macrorregião Saúde Residência, Microrregião IBGE de Resid., Região Metrop - RIDE de Resid., Territ da Cidadania de Resid., Mesorregião PNDR de Resid., Nacionalidade, Ocupação, Grupo ativ.econômica, Atividade  econômica, Vínculo previdenciário, Leito\Especialidade, Identificação, Tipo de AIH, Seqüencial, Caráter atendimento, Teve diárias UTI, Tipo de UTI, Tipo de UCI, Ano de internação, Ano/Mês internação, Ano de saída, Mês de saída, Ano/Mês de saída, Dias permanência, Motivo Saída/Permanência, Óbitos, Procedimentos realizados, Procedimentos Em Uso, Grupo de Procedimentos, SubGrupo de Procedimentos, Forma de Organização, Financiamento, SubTp FAEC, Regra Contratual, Complexidade do Procedimento, Procedimentos obstétricos, Cirurgia CardioVasculares, Cirurgia Vascular, Cardio Intervenção, Cirurgia EndoVascular, Estudo Eletrofisiológico, Procedimentos Solicitados, Fez VDRL, Infecção Hospitalar, Diagnóstico CID10 (capítulo), Diagnóstico CID10 (grupo), Diagnóstico CID10 (categoria), Agravo Notificação Compulsória, Sensíveis Atenção Básica 1, Sensíveis Atenção Básica 2, Sensíveis Atenção Básica 3, Agravo Notificação Bloq, Diagnóstico CID10 cap 01, Diagnóstico CID10 cap 02, Diagnóstico CID10 cap 03, Diagnóstico CID10 cap 04, Diagnóstico CID10 cap 05, Diagnóstico CID10 cap 06, Diagnóstico CID10 cap 07, Diagnóstico CID10 cap 08, Diagnóstico CID10 cap 09, Diagnóstico CID10 cap 10, Diagnóstico CID10 cap 11, Diagnóstico CID10 cap 12, Diagnóstico CID10 cap 13, Diagnóstico CID10 cap 14, Diagnóstico CID10 cap 15, Diagnóstico CID10 cap 16, Diagnóstico CID10 cap 17, Diagnóstico CID10 cap 18, Diagnóstico CID10 cap 19S, Diagnóstico CID10 cap 19T, Diagnóstico CID10 cap 20A, Diagnóstico CID10 cap 20B, Diagnóstico CID10 cap 20C, Diagnóstico CID10 cap 20D, Diagnóstico CID10 cap 20E, Diagnóstico CID10 cap 20F, Diagnóstico CID10 cap 21, Diagnóstico CID10 cap 22, Diagnóstico CID10 PactoAB, CID Secundário 1, CID Secundário 2, CID Secundário 3, CID Secundário 4, CID Secundário 5, CID Secundário 6, CID Secundário 7, CID Secundário 8, CID Secundário 9, Classificação.CID Sec 1, Classificação.CID Sec 2, Classificação.CID Sec 3, Classificação.CID Sec 4, Classificação.CID Sec 5, Classificação.CID Sec 6, Classificação.CID Sec 7, Classificação.CID Sec 8, Classificação.CID Sec 9, Diagnóstico Sec. CID10 (capit), Diagnóstico Sec. CID10 (grupo), Diagnóstico Sec. CID10 (categ), Diagnóstico Sec. CID10 cap 01, Diagnóstico Sec. CID10 cap 02, Diagnóstico Sec. CID10 cap 03, Diagnóstico Sec. CID10 cap 04, Diagnóstico Sec. CID10 cap 05, Diagnóstico Sec. CID10 cap 06, Diagnóstico Sec. CID10 cap 07, Diagnóstico Sec. CID10 cap 08, Diagnóstico Sec. CID10 cap 09, Diagnóstico Sec. CID10 cap 10, Diagnóstico Sec. CID10 cap 11, Diagnóstico Sec. CID10 cap 12, Diagnóstico Sec. CID10 cap 13, Diagnóstico Sec. CID10 cap 14, Diagnóstico Sec. CID10 cap 15, Diagnóstico Sec. CID10 cap 16, Diagnóstico Sec. CID10 cap 17, Diagnóstico Sec. CID10 cap 18, Diagnóstico Sec. CID10 cap 19S, Diagnóstico Sec. CID10 cap 19T, Diagnóstico Sec. CID10 cap 20A, Diagnóstico Sec. CID10 cap 20B, Diagnóstico Sec. CID10 cap 20C, Diagnóstico Sec. CID10 cap 20D, Diagnóstico Sec. CID10 cap 20E, Diagnóstico Sec. CID10 cap 20F, Diagnóstico Sec. CID10 cap 21, Diagnóstico Sec. CID10 cap 22, Causa Associada(capit), Causa Associada(grupo), Causa Associada(categ), Causa Óbito(capit), Causa Óbito(grupo), Causa Óbito(categ), Número de filhos, Grau de instrução, CID laqueadura (3 car), CID laqueadura (Cap15), CID laqueadura (Cap09), Contraceptivo 1, Contraceptivo 2, Gestante de risco, Inscrição pré-natal, Autorização gestor]

[Região internação, UF internação, HU's MEC EBSERH (CNES), HU's Filiados EBSERH (CNES), Hospitais Federais RJ, Hospital BR (CNES), Hospital AC (CNES), Hospital AL (CNES), Hospital AM (CNES), Hospital AP (CNES), Hospital BA (CNES), Hospital CE (CNES), Hospital DF (CNES), Hospital ES (CNES), Hospital GO (CNES), Hospital MA (CNES), Hospital MG (CNES), Hospital MS (CNES), Hospital MT (CNES), Hospital PA (CNES), Hospital PB (CNES), Hospital PE (CNES), Hospital PI (CNES), Hospital PR (CNES), Hospital RJ (CNES), Hospital RN (CNES), Hospital RO (CNES), Hospital RR (CNES), Hospital RS (CNES), Hospital SC (CNES), Hospital SE (CNES), Hospital SP (CNES), Hospital TO (CNES), Hospital BR (CNPJ), Hospital AC (CNPJ), Hospital AL (CNPJ), Hospital AM (CNPJ), Hospital AP (CNPJ), Hospital BA (CNPJ), Hospital CE (CNPJ), Hospital DF (CNPJ), Hospital ES (CNPJ), Hospital GO (CNPJ), Hospital MA (CNPJ), Hospital MG (CNPJ), Hospital MS (CNPJ), Hospital MT (CNPJ), Hospital PA (CNPJ), Hospital PB (CNPJ), Hospital PE (CNPJ), Hospital PI (CNPJ), Hospital PR (CNPJ), Hospital RJ (CNPJ), Hospital RN (CNPJ), Hospital RO (CNPJ), Hospital RR (CNPJ), Hospital RS (CNPJ), Hospital SC (CNPJ), Hospital SE (CNPJ), Hospital SP (CNPJ), Hospital TO (CNPJ), Mantenedora, Natureza, Natureza Jurídica, Esfera Jurídica, Município gestor, Ano/Mês processamento, Região de Residência, Unid da Federação de Resid., Município de Residência, Capital de Residência, Região de Saúde (CIR) de Resid., Macrorregião Saúde Residência, Microrregião IBGE de Resid., Região Metrop - RIDE de Resid., Territ da Cidadania de Resid., Mesorregião PNDR de Resid., Ocupação, Atividade  econômica, Caráter atendimento, Ano/Mês internação, Ano/Mês de saída, Motivo Saída/Permanência, Procedimentos realizados, Procedimentos Em Uso, Grupo de Procedimentos, SubGrupo de Procedimentos, Forma de Organização, SubTp FAEC, Regra Contratual, Complexidade do Procedimento, Procedimentos obstétricos, Cirurgia CardioVasculares, Cirurgia Vascular, Cardio Intervenção, Cirurgia EndoVascular, Estudo Eletrofisiológico, Procedimentos Solicitados, Diagnóstico CID10 (capítulo), Diagnóstico CID10 (grupo), Diagnóstico CID10 (categoria), Agravo Notificação Compulsória, Sensíveis Atenção Básica 1, Sensíveis Atenção Básica 2, Sensíveis Atenção Básica 3, Agravo Notificação Bloq, Diagnóstico CID10 cap 01, Diagnóstico CID10 cap 02, Diagnóstico CID10 cap 03, Diagnóstico CID10 cap 04, Diagnóstico CID10 cap 05, Diagnóstico CID10 cap 06, Diagnóstico CID10 cap 07, Diagnóstico CID10 cap 08, Diagnóstico CID10 cap 09, Diagnóstico CID10 cap 10, Diagnóstico CID10 cap 11, Diagnóstico CID10 cap 12, Diagnóstico CID10 cap 13, Diagnóstico CID10 cap 14, Diagnóstico CID10 cap 15, Diagnóstico CID10 cap 16, Diagnóstico CID10 cap 17, Diagnóstico CID10 cap 18, Diagnóstico CID10 cap 19, Diagnóstico CID10 cap 20, Diagnóstico CID10 cap 21, Diagnóstico CID10 cap 22, CID Secundário 1, CID Secundário 2, CID Secundário 3, CID Secundário 4, CID Secundário 5, CID Secundário 6, CID Secundário 7, CID Secundário 8, CID Secundário 9, Classificação.CID Sec 1, Classificação.CID Sec 2, Classificação.CID Sec 3, Classificação.CID Sec 4, Classificação.CID Sec 5, Classificação.CID Sec 6, Classificação.CID Sec 7, Classificação.CID Sec 8, Classificação.CID Sec 9, Diagnóstico Sec. CID10 (capit), Diagnóstico Sec. CID10 (grupo), Diagnóstico Sec. CID10 (categ), Diagnóstico Sec. CID10 cap 01, Diagnóstico Sec. CID10 cap 02, Diagnóstico Sec. CID10 cap 03, Diagnóstico Sec. CID10 cap 04, Diagnóstico Sec. CID10 cap 05, Diagnóstico Sec. CID10 cap 06, Diagnóstico Sec. CID10 cap 07, Diagnóstico Sec. CID10 cap 09, Diagnóstico Sec. CID10 cap 10, Diagnóstico Sec. CID10 cap 11, Diagnóstico Sec. CID10 cap 12, Diagnóstico Sec. CID10 cap 13, Diagnóstico Sec. CID10 cap 14, Diagnóstico Sec. CID10 cap 15, Diagnóstico Sec. CID10 cap 16, Diagnóstico Sec. CID10 cap 17, Diagnóstico Sec. CID10 cap 18, Diagnóstico Sec. CID10 cap 19, Diagnóstico Sec. CID10 cap 20, Diagnóstico Sec. CID10 cap 21, Diagnóstico Sec. CID10 cap 22, Causa Associada(capit), Causa Associada(grupo), Causa Associada(categ), Causa Óbito(capit), Causa Óbito(grupo), Causa Óbito(categ), CID laqueadura (Cap15), CID laqueadura (Cap09)]

[Valor Total, Valor Serv. Hospitalar, Valor Serv. Hospitalar Federal, Valor Serv. Hopspitalar Gestor, Valor Serv. Profissional, Valor Serv. Prof. Federal, Valor Serv. Prof. Gestor, Valor UTI, Valor UCI, Óbitos, Permanência, Diárias, Diárias de UTI, Diárias UCI, Diárias Acompanhantes]

In [4]:
# Valores possíveis para cada campo
display(rd2008.columns['Região internação'].values)
display(rd2008['Cor/raça'].values)
display(rd2008.rows['Tipo de UTI'].values)

['Norte', 'Nordeste', 'Sudeste', 'Sul', 'C.Oeste', 'Ign/Ext']

['Sem informação', 'Indígena', 'Amarela', 'Parda', 'Preta', 'Branca']

['Não utilizou UTI',
 'UTI adulto - tipo II COVID 19',
 'UTI pediátrica - tipo II COVID 19',
 'UTI adulto - tipo I',
 'UTI adulto - tipo II',
 'UTI adulto - tipo III',
 'UTI infantil - tipo I',
 'UTI infantil - tipo II',
 'UTI infantil - tipo III',
 'UTI neonatal - tipo I',
 'UTI neonatal - tipo II',
 'UTI neonatal - tipo III',
 'UTI de queimados',
 'UTI coronariana tipo II - UCO tipo II',
 'UTI coronariana tipo III - UCO tipo III',
 'UTI Doador',
 'Utilizou mais de um tipo de UTI']

In [5]:
import os.path
import pandas
from dbfread import DBF


def load_example_file():
    file = os.path.join(os.getcwd(), './tests/resources/sample.dbf')
    return pandas.DataFrame(DBF(file))

df = load_example_file()
df

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,120000,2020,01,03,04034526000224,1220100002880,1,69920193,120040,19881019,...,,0,0,0,0,0,0,0,0,0
1,120000,2020,01,03,04034526000224,1220100002891,1,69905440,120040,19530519,...,,0,0,0,0,0,0,0,0,0
2,120000,2020,01,03,04034526000224,1220100004068,1,69902100,120040,20180719,...,,0,0,0,0,0,0,0,0,0
3,120000,2020,01,07,04034526000224,1219100548732,1,69905292,120040,20181103,...,,0,0,0,0,0,0,0,0,0
4,120000,2020,01,07,04034526000224,1219100548743,1,69900970,120040,20190110,...,,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3779,120000,2020,01,02,04034526000305,1219100470731,1,69900970,120040,20020725,...,,0,0,0,0,0,0,0,0,0
3780,120000,2020,01,02,04034526000305,1219100470852,1,69900970,120040,19930703,...,,0,0,0,0,0,0,0,0,0
3781,120000,2020,01,02,04034526000305,1219100470929,1,69830000,130240,20030112,...,,0,0,0,0,0,0,0,0,0
3782,120000,2020,01,02,04034526000305,1219100470951,1,69900970,120040,19990123,...,,0,0,0,0,0,0,0,0,0
3783,120000,2020,01,02,04034526000305,1219100514380,1,69911075,120040,19860423,...,,0,0,0,0,0,0,0,0,0

In [8]:
# Classe para uso em conjunto com pandas.DataFrame
rdtab = df.tabsus(rd2008)  # rdtab = tabsus.dataframe.DataFrameWrapper(rd2008, df)
df.groupby(rdtab['Faixa etária (5)']).agg({'N_AIH': 'count'})

            N_AIH
1-4 anos      133
15-49 anos   2363
5-14 anos     228
50e + anos    888
< 1 ano       172

In [10]:
df['Idade'] = rdtab['Idade detalhada']
df[['Idade', 'N_AIH']]

         Idade          N_AIH
0      31 anos  1220100002880
1      66 anos  1220100002891
2        1 ano  1220100004068
3        1 ano  1219100548732
4     10 meses  1219100548743
...        ...            ...
3779   17 anos  1219100470731
3780   26 anos  1219100470852
3781   16 anos  1219100470929
3782   20 anos  1219100470951
3783   33 anos  1219100514380

[3784 rows x 2 columns]

In [11]:
# Quantidade de internações por sexo
df.groupby(rdtab['Sexo']).agg({'N_AIH': 'count'})

           N_AIH
SEXO
Feminino    2367
Masculino   1417

In [15]:
# Quantidade de internações por Leito\Especialidade
df.groupby(rdtab['Leito\Especialidade']).agg({'N_AIH': 'count'})

                           N_AIH
ESPEC
01-Cirúrgico                 962
02-Obstétricos               964
03-Clínico                  1400
04-Crônicos                    3
05-Psiquiatria                51
07-Pediátricos               353
87-Saúde Mental (Clínico)     51

In [12]:
# Quantidade de internações por Diagnóstico (descrição de longa/linha)
df.groupby(rdtab.rows['Diagnóstico CID10 (capítulo)']).agg({'N_AIH': 'count'})

                                                    N_AIH
DIAG_PRINC
I.   Algumas doenças infecciosas e parasitárias       238
II.  Neoplasias (tumores)                             133
III. Doenças sangue órgãos hemat e transt imunitár     43
IV.  Doenças endócrinas nutricionais e metabólicas     65
IX.  Doenças do aparelho circulatório                 237
V.   Transtornos mentais e comportamentais            114
VI.  Doenças do sistema nervoso                        55
VII. Doenças do olho e anexos                           6
VIII.Doenças do ouvido e da apófise mastóide            1
X.   Doenças do aparelho respiratório                 236
XI.  Doenças do aparelho digestivo                    394
XII. Doenças da pele e do tecido subcutâneo            96
XIII.Doenças sist osteomuscular e tec conjuntivo       37
XIV. Doenças do aparelho geniturinário                265
XIX. Lesões enven e alg out conseq causas externas    467
XV.  Gravidez parto e puerpério                      1174
XVI. Algumas afec originadas no período perinatal      85
XVII.Malf cong deformid e anomalias cromossômicas      25
XVIII.Sint sinais e achad anorm ex clín e laborat      58
XXI. Contatos com serviços de saúde                    55

In [13]:
# Quantidade de internações por Diagnóstico (descrição curta/coluna)
df.groupby(rdtab.columns['Diagnóstico CID10 (capítulo)']).agg({'N_AIH': 'count'})

            N_AIH
DIAG_PRINC
Cap I         238
Cap II        133
Cap III        43
Cap IV         65
Cap IX        237
Cap V         114
Cap VI         55
Cap VII         6
Cap VIII        1
Cap X         236
Cap XI        394
Cap XII        96
Cap XIII       37
Cap XIV       265
Cap XIX       467
Cap XV       1174
Cap XVI        85
Cap XVII       25
Cap XVIII      58
Cap XXI        55

In [14]:
new_df = pandas.DataFrame({
    'uf': rdtab['Unid da Federação de Resid.'],
    'sexo': rdtab['Sexo'],
    'etnia': rdtab['Cor/raça'],
    'id': rdtab['Identificação'],
    'valor': rdtab['Valor Total']
})
new_df

               uf       sexo           etnia          id    valor
0         12 Acre  Masculino           Parda  AIH normal   248.35
1         12 Acre  Masculino          Branca  AIH normal   334.05
2         12 Acre  Masculino           Parda  AIH normal   335.47
3         12 Acre   Feminino           Parda  AIH normal   242.46
4         12 Acre   Feminino  Sem informação  AIH normal   858.54
...           ...        ...             ...         ...      ...
3779      12 Acre   Feminino           Parda  AIH normal  1293.30
3780      12 Acre   Feminino         Amarela  AIH normal   766.69
3781  13 Amazonas   Feminino          Branca  AIH normal   554.28
3782      12 Acre   Feminino           Parda  AIH normal   743.49
3783      12 Acre   Feminino           Parda  AIH normal  1052.74

[3784 rows x 5 columns]

In [15]:
new_df.groupby(['uf', 'sexo', 'etnia']).agg({'id': 'count', 'valor': 'sum'})

                                              id      valor
uf                sexo      etnia
11 Rondônia       Feminino  Amarela            2    2303.04
                            Branca             4    2613.00
                            Indígena           1    1076.74
                            Parda             15   13850.73
                            Preta              1     516.60
                            Sem informação     4    2276.92
                  Masculino Amarela            4    1835.25
                            Branca             1     442.71
                            Parda              5    2834.14
                            Preta              2    3938.97
                            Sem informação     3   16026.05
12 Acre           Feminino  Amarela          290  256176.51
                            Branca           101   78269.19
                            Indígena          25   19650.01
                            Parda           1409  862282.36
                            Preta             26   19032.49
                            Sem informação   423  389341.07
                  Masculino Amarela          200  161595.73
                            Branca            70   38469.24
                            Indígena          16   34299.48
                            Parda            770  734121.85
                            Preta             15   11283.71
                            Sem informação   271  492709.26
13 Amazonas       Feminino  Amarela           10   10009.83
                            Branca             5    2447.92
                            Indígena           3    1740.65
                            Parda             31   14487.31
                            Preta              2    1496.81
                            Sem informação     6   12327.79
                  Masculino Amarela           10    5252.93
                            Branca             6   14356.96
                            Indígena           1     690.43
                            Parda             29   57548.46
                            Preta              1     606.08
                            Sem informação     7   41838.53
14 Roraima        Feminino  Parda              1     203.82
                  Masculino Amarela            1    1604.56
16 Amapá          Feminino  Parda              1    1381.41
21 Maranhão       Masculino Amarela            1    1828.28
25 Paraíba        Masculino Branca             1     511.35
28 Sergipe        Masculino Sem informação     1    9919.92
29 Bahia          Feminino  Parda              1    1842.78
31 Minas Gerais   Feminino  Parda              1     198.81
32 Espírito Santo Feminino  Parda              1    1566.27
35 São Paulo      Feminino  Parda              1      44.22
                  Masculino Branca             1       0.00
42 Santa Catarina Feminino  Amarela            1     188.62
51 Mato Grosso    Feminino  Branca             1     706.52
                            Parda              1    3174.69
                  Masculino Parda              1     883.55

In [19]:
obitos = tabsus.DATABASES['SIM'].tabsus['OBITO']
display(obitos.dimensions)
display(obitos.increments)

ERROR:root:Error in line 16: XDO epidemiologica, STDOEPIDEM  1, DONOVA.CNV
. __init__() missing 1 required positional argument: 'cnv_filename'

[ORIGEM, CAUMUL, Mal definidas-OMS, Maldefinição-SVS/MS, Codigos Garbage, NUMERO DO MAT, Hospital Amigo, Hospital Amigo, DO novo modelo, Ano do Obito, Mes do Obito, Mes do Cadastro, Mes de Investigac, Dia Recebimento, Mes Recebimento, Ano Recebimento, Dia 1º Recebimento, Mes 1º Recebimento, Ano 1º Recebimento, Tipo Obito, Instalacao, Munic Instal, Munic Instal, Numero Micro, Numero Micro, Com Codificador, Codificado, Obito investigado, C nao Codificadas, Versao Sistema, Versao SCB, Causa (CID10 3D), Causa (CID10 3D), Causa (Cap CID10), Causa (Cap CID10), Causa (Cap CID10), Causa (CID10 BR), Causa Original, Causa Original, Causa Orig Capit, Causa Orig Capit, Causas Asterisco, Causas Asterisco, Causas Invalidas, Causas Invalidas, Causas presumiveis, Causas presumiveis, StatusRessel S N, Motivo N RESSELEC, COMPARA_CB, Ano Resselecao, Mes Resselecao, Versão Resselec, Versão Scb_Pre, Versao SCB R, Causas Determin, Causas Determin, D Isquem Coracao, D Isquem Coracao, Homicidios, Homicidios, Suicidios, Suicidios, Neoplasias, Neoplasias, Imunopreviniveis, Imunopreviniveis, DCNT_PRE, CID10 4C Cap 01, CID10 4C Cap 01, CID10 4C Cap 02, CID10 4C Cap 02, CID10 4C Cap 03, CID10 4C Cap 03, CID10 4C Cap 04, CID10 4C Cap 04, CID10 4C Cap 05, CID10 4C Cap 05, CID10 4C Cap 06, CID10 4C Cap 06, CID10 4C Cap 07, CID10 4C Cap 07, CID10 4C Cap 08, CID10 4C Cap 08, CID10 4C Cap 09, CID10 4C Cap 09, CID10 4C Cap 10, CID10 4C Cap 10, CID10 4C Cap 11, CID10 4C Cap 11, CID10 4C Cap 12, CID10 4C Cap 12, CID10 4C Cap 13, CID10 4C Cap 13, CID10 4C Cap 14, CID10 4C Cap 14, CID10 4C Cap 15, CID10 4C Cap 15, CID10 4C Cap 16, CID10 4C Cap 16, CID10 4C Cap 17, CID10 4C Cap 17, CID10 4C Cap 18, CID10 4C Cap 18, CID10 4C Cap 20, CID10 4C Cap 20, Retroalimentacao, UF Resid, UF Resid, UF Resid col, UF Resid/Regiao, Regiao Res, Regiao Res, Regiao Res, RegMetr Res-BR, RegMetr Res-BR, Capital Res, Capital Res, Munic Res - BRA, Munic Res - BRA, Munic Resid - AC, Munic Resid - AC, Munic Resid - RO, Munic Resid - RO, Munic Resid - AM, Munic Resid - AM, Munic Resid - RR, Munic Resid - RR, Munic Resid - PA, Munic Resid - PA, Munic Resid - AP, Munic Resid - AP, Munic Resid - TO, Munic Resid - TO, Munic Resid - MA, Munic Resid - MA, Munic Resid - PI, Munic Resid - PI, Munic Resid - CE, Munic Resid - CE, Munic Resid - RN, Munic Resid - RN, Munic Resid - PB, Munic Resid - PB, Munic Resid - PE, Munic Resid - PE, Munic Resid - AL, Munic Resid - AL, Munic Resid - SE, Munic Resid - SE, Munic Resid - BA, Munic Resid - BA, Munic Resid - MG, Munic Resid - MG, Munic Resid - ES, Munic Resid - ES, Munic Resid - RJ, Munic Resid - RJ, Munic Resid - SP, Munic Resid - SP, Munic Resid - PR, Munic Resid - PR, Munic Resid - SC, Munic Resid - SC, Munic Resid - PR, Munic Resid - PR, Munic Resid - SC, Munic Resid - SC, Munic Resid - RS, Munic Resid - RS, Munic Resid - MS, Munic Resid - MS, Munic Resid - MT, Munic Resid - MT, Munic Resid - GO, Munic Resid - GO, Munic Resid-DF, Munic Resid-DF, Entorno DF_Res, Local Ocorrencia, Estabelecim Saude, Esf Adm pub/ñpub, Natur Organiz 2006, Natur Organiz 2006, Nat Org Estab 2007, Nat Org Estab 2007, Regiao Ocor, Regiao Ocor, Regiao Ocor, UF Ocor, UF Ocor, UF Ocor, RegMetr Ocor-BR, Capital Ocor, Munic Ocor - BRA, Munic Ocor - BRA, Munic Ocorr - AC, Munic Ocorr - AC, Munic Ocorr - RO, Munic Ocorr - RO, Munic Ocorr - AM, Munic Ocorr - AM, Munic Ocorr - RR, Munic Ocorr - RR, Munic Ocorr - PA, Munic Ocorr - PA, Munic Ocorr - AP, Munic Ocorr - AP, Munic Ocorr - TO, Munic Ocorr - TO, Munic Ocorr - MA, Munic Ocorr - MA, Munic Ocorr - PI, Munic Ocorr - PI, Munic Ocorr - CE, Munic Ocorr - CE, Munic Ocorr - RN, Munic Ocorr - RN, Munic Ocorr - PB, Munic Ocorr - PB, Munic Ocorr - PE, Munic Ocorr - PE, Munic Ocorr - AL, Munic Ocorr - AL, Munic Ocorr - SE, Munic Ocorr - SE, Munic Ocorr - BA, Munic Ocorr - BA, Munic Ocorr - MG, Munic Ocorr - MG, Munic Ocorr - ES, Munic Ocorr - ES, Munic Ocorr - RJ, Munic Ocorr - RJ, Munic Ocorr - SP, Munic Ocorr - SP, Munic Ocorr - PR, Munic Ocorr - PR, Munic Ocorr - SC, Munic Ocorr - SC, Munic Ocorr - PR, Munic Ocorr - PR, Munic Ocorr - SC, Munic Ocorr - SC, Munic Ocorr - RS, Munic Ocorr - RS, Munic Ocorr - MS, Munic Ocorr - MS, Munic Ocorr - MT, Munic Ocorr - MT, Munic Ocorr - GO, Munic Ocorr - GO, Munic Ocorr-DF, Munic Ocorr-DF, Entorno DF_OCor, Escol anos concl, Escol series, Escol series agreg, Esc Mae anos conc, Esc Mae series, Esc Mae ser agreg, Sexo, Estado Civil, Idade Detalhada, Idade Detalhada, Faixa Etaria (5), Faixa Etaria (9), Faixa Etaria (13), Faixa Etaria OMS, Fx Etar Infant 1, Fx Etar Infant 2, Tipo de Violencia, Raca Cor, Raca Cor, Naturalidade, Naturalidade, Munic Naturalid, Munic Naturalid, Munic IML/SVO, Munic IML/SVO, Assist Medica, Medico Atest, Necropsia, Acid Trabalho, Idade Mãe, Ocupação Mãe, Ocupação Mãe, Filhos Vivos, Filhos Mortos, Gravidez, Tipo Parto, Obito Parto, Semanas Gestação, Gestac Detalhada, Peso Nascer, Obito na Gravidez, Obito no Puerp, Ob Mulher id Fert, Ocupacao, Ocupacao, Ocup Grande Grupo, Ocup Grande Grupo, Ocup Subgrupo 3d, Ocup Subgrupo 3d, Oc Subgrupo Princ, Oc Subgrupo Princ, Ocupac Familia 4d, Ocupac Familia 4d, Ocup Sist Antigo, Ocup Sist Antigo, Oc Gr Sist Antigo, Oc Gr Sist Antigo, Naturalidade, Cirurgia, Exame complem, Fonte Informac, Fonte Investig]

[]